.partner{
	align-items: center;
	background: #E3E3E3;
	display: flex;
	flex-direction: column;
	height: 65vh;
	align-items: center;
	justify-content: center;
	background-color: #202020;
	padding-bottom: 60px;
}
.partner .title{
	color: #FFFFFF;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	font-size: 60px;
	padding-top: 40px;
}
@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}



  

// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 80%;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}

@media (max-width: 600px) {
	.partner{
		height: 50vh;
	}
	.partner .title{
		font-size: 45px;
	}
	.slider {
		width: 85%;
	}
		
	.slide img{
		height: 100px;
		width: 200px;
	}
	  }

	  @media (max-width: 1024px) {
		.partner{
			height: 70vh;
		}
		.partner .title{
			font-size: 50px;
		}
		  }