/* Navbar */

.navbar-web {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  position: relative;
  top: 0;
  padding: 25px;
  font-family: "Inter", sans-serif;
}


.logo img {
  width: 123px;
  height: 30px;
  margin-left: 20px;
  margin-right: 90px;
}
.navbarLeft {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.navbarRight {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.navbarRight div {
  margin: 0 15px;
}
.navbarRight button {
  background-color: #FF4141;
  padding: 12px;
  border-radius: 5px;
  color: white;
  border: none;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.navbarRight button:hover{
  background-color: #e63e3e;
  transition: all 0.1s ease-in-out;
  scale: 1.02;
}
.navbar{
  display: block;
}
.menu{
  display: flex;
  align-items: center;
  
}
.menu ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin-bottom: 0rem;
  transition: all 0.2s ease-in-out;
}
.menu ul a:hover {
font-weight: 600;
transition: all 0.2s ease-in-out;
}
.menu ul a{
  color: #343434;
  text-decoration: none;
  font-weight: 500;
}

.signin{
  margin-bottom: 0px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.signin:hover {
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  }
/* Home */

.home {
  display: flex;
  margin: 0px 50px;
  line-height: 1.2;
  align-items: center;
  transition: all 0.3 ease-in-out;
}

.CIBIL{
  background-color: #FF4141;
  font-family: 'Plus Jakarta Sans', sans-serif;
font-size: 16px;
padding: 15px 15px;
display: flex;
align-items: start;
justify-content: flex-start;
font-weight: 700;
border-radius: 10px;
width: 70%;
margin: 0px;
box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 15px;

}
.CIBIL a{
  margin-bottom: 0rem;
  text-decoration: none;
  color: #ffffff;
}
.CIBIL:hover{
  opacity: 0.8;
}
.homeText {
  display: flex;
  flex-direction: column;
  flex:0.9
}
.home .title {
  font-size: 80px;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-left: 0;
}

.home .subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.homeText div {
  margin: 5px 0px;
}
.loanButton {
  padding: 25px;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.loanButton:hover{
  transition: all 0.1s ease-in-out;
  scale: 1.02;
  background-color: #1b1b1b;
}
.lowersec {
  display: flex;
  max-height: 70px;
  margin-top: 20px;
}
.lowersec .info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lowersec .hrr {
  margin: 0 15px;
  border-left: 1px solid #9D9D9D;
  height: 40px;
}
.info .num {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 32px;
}

.info .text {
  font-family: "Inter", sans-serif;
  width: 130px;
  margin-left: 10px;
  color: #969696;
}
.HomeImg {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.HomeImg img {
  width: 100%;
  height: 90vh;
}
@media (max-width: 1024px) {
 
  .home {
    position: relative;
    height: 90vh;
  }
  .CIBIL{
    width: 55%;
    font-size: 13px;
  }
  .home .title{
    font-size: 70px;
  }
  .HomeImg{
    position:absolute;
    right: 0px;
    bottom: 0px;
  }
  .HomeImg img{
width: 50%;
height: 80%;
  }

}


@media (max-width: 900px) {
.CIBIL{
  width: 100%;
  font-size: 10px;
}
  .home {
    position: relative;
    height: 80vh;
    margin: 0px;
    padding: 0px 20px;
  }
.homeText .title{
  font-size: 60px;
}
  .HomeImg{
    position:absolute;
    bottom: 0px;
  }
  .HomeImg img{
width: 41%;
height: 100%;
  }
  .lowersec{
    flex-direction: column;
  }
}

/* Feature */

.featurebox {
  display: flex;
  background-color: #212121;
  padding: 40px;

}
.vl {
  border-left: 2px solid #646464;
  height: 120px;
  position: relative;
  margin: 20px;
  display: flex;
  top: 40px;
}
@media  (max-width: 1700px) and (min-width:1300px){
  .vl {
    height: 200px;
  }
}
@media  (max-width: 1290px) and (min-width:1030px){
  .vl {
    height: 280px;
  }
}
@media  (max-width: 1029px) and (min-width:850px){
  .vl {
    height: 300px;
  }
}
@media  (max-width: 850px) and (min-width:650px){
  .vl {
    height: 330px;
  }
}
@media  (max-width: 650px) and (min-width:600px){
  .vl {
    height: 450px;
  }
}
.feature {
  margin-left: 20px;
  color: white;
  width: 33%;
}

.roundicon {
  background-color: red;
 width: 60px;
 height: 60px;
 display: flex;
 align-items: center;
 justify-content:center ;
border-radius: 30px;
margin-bottom: 10px;
}



.feature .title {
  font-size: 19px;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 20px;
}

.feature .subtitle {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  color: #7e7e7e;
}
@media (max-width: 780px) {
  .home{
    height: 90vh;
  }
  .CIBIL{
    width: 70%;
    font-size: 12px;
    margin-bottom: 4px;
  }
.homeText .title{
  font-size: 55px;
}
}
@media (max-width: 600px) {
  .home{
    margin: 0px;
    height: 90vh;
  }
  .loanButton{
    padding: 20px;
    font-size: 20px;
  } 
  .featurebox{
    padding: 30px;
    flex-direction: column;
  }
  .feature img{
    width: 40px;
    margin-bottom: 5px;
  }
  .feature {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }
  .feature .title{
    font-size: 16px;
    margin-bottom: 5px;
  }
  .feature .subtitle{
    font-size: 13px;
  }
  .vl {
   display: none;
  }

.homeText .title{
  font-size: 40px;
  margin-top: 5px;
}
  .HomeImg{
    position:absolute;
    bottom: 0px;
  }
  .HomeImg img{
width: 40%;
height: 100%;
  }
  .lowersec .info .num {
    font-size:30px ;
  }
  .lowersec .info .text {
    font-size:16px ;
  }
  .CIBIL{
    width: 90%;
    font-size: 10px;
    padding: 10px;

  }
}
/* MSME LOANS */

.offer {

  background: linear-gradient(
    to bottom,
    #da3941 0%,
    #da3941 65%,
    white 65%,
    white 100%
  );


}
.offermain {
  padding: 80px 80px 30px;
}
.offermain .title {
  font-size: 60px;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 40px;
}
.titlediv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.offermain hr {
  width: 40px;
  margin-right: 15px;
}

.offermain .subtitle {
  font-family: "Work Sans", sans-serif;
  margin-top: 10px;
  font-size: 20px;
  margin-left: 40px;
  font-weight: 200;
  color: white;
  max-width: 60%;
}
.offermain .subtitle p {
  margin-top: 10px;
}
.offercards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  position: relative;
}

.offercards .card {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  width: 35%;
  background-color: #fdfdff;
  margin-right: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.4s ease-in-out;
  
}
@media (max-width: 1024px) {
  .offercards .card{
    width: 40%;
  }
}
@media (max-width: 800px) {
  .offercards .card{
    height: 550px;
    width: 40%;
  }
}
.offercards .card .content{
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 40%;
  margin-top: 20px;
  padding: 0px 50px;
}
.offercards .card .button{
  height: 10%;
  
}
/* .offercards .card:hover{
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
} */
.offercards .img {
  height: 46%;
 }
.offercards .img img {
 width: 100%;
 height: 100%;
object-fit: cover;
border-radius: 5px 5px 0px 0px;
}
.offercards .title {
  font-size: 24px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
 display: flex;
}

.offercards .subtitle {
  font-size: 15px;
  font-family: "Work Sans", sans-serif;
  color: #787878;
  margin-bottom: 30px;
  max-width: 100%;
  font-weight: 400;
}

.buttonoffer {
  position: relative;
  color: #da3941;
  margin-bottom: 10px;
  cursor: pointer;
}
.buttonoffer a {
  position:absolute;
  right: 20px;
  bottom: 10px;
  background-color: white;
  color: #da3941;
  border: none;
  font-weight: 700;
  text-decoration: none;
}

.buttonoffer img{
  margin-left: 5px;
}

 .showbutton{
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.noshowbutton{
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.buttonoffer a:hover{
  transition: all 0.2s ease-in-out;
  scale: 1.05;
}

@media (max-width: 600px) {
 .offermain{
  padding: 20px 20px;
 }
  .offermain .title{
    font-size: 35px;
  }
  .offercards{
    flex-direction: column;
    
  }
  .offercards .card{
    width: 70%;
    margin-top: 20px;
    height: 400px;
  }
  .offercards .card .content{
    padding: 20px;
    height: 70%;
  }
  .offercards .title{
    font-size: 20px;
  }
  .offercards .subtitle{
    font-size: 14px;
  }
  .offercards .img {
    height: 30%;
  }
  .offer {
    background: #da3941;
    padding: 20px;
  }

}
/* MSME */

.msme {
  background-image: url("./assets/msmebackground.png");
  background-repeat: no-repeat;
 background-size: cover;
  height: 800px;
  position: relative;

}

.msme .card {
  max-height: 600px;
  width: 40%;
  padding: 40px 60px;
  background-color: #f8f8f9;
  margin-right: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 position:absolute;
 right: 0px;
  margin-top: 200px;
  margin-right: 100px;
}

.msme .title {
  font-size: 24px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
margin-bottom: 10px;
}

.msme .subtitle {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
margin-bottom: 0px;
  font-weight: 400;
  color: #898989;
}

.msme .buttonmsme{

  margin-top: 10px;
  text-decoration: underline;
  background-color: #f8f8f9;
  color: #da3941;
  border: none;
  font-weight: 800;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 5px;
  text-decoration: none;
  cursor: pointer;
}
@media(max-width:1024px){
  .msme {
   background-size: contain;
    height: 600px;

  
  }
  .msme .card {

    width: 50%;
    padding: 30px;
    margin-top: 150px;
    margin-right: 100px;
  }
}


@media(max-width:600px){
  .msme{
    margin-bottom: 150px;
  }
  .msme .title{
    font-size: 19px;
    margin-bottom: 10px;
  }
  .msme .subtitle{
    font-size: 16px;
  }
  .msme .card {
    height: 350px;
   width: 90%;
    padding: 30px;
    background-color: #f8f8f9;
    margin-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   position:absolute;
   right: 0px;
   bottom: -10%;
    margin-top: 100px;
    margin-right: 10px;

  }
}
/* The container <div> - needed to position the dropdown content */
.nodropdown {
opacity: 0;
display: none;
transition: all 1s ease-in-out;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
.dropdown div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D9D9D9;
  padding: 10px;
}
.dropdown div:hover{

background-color: #DA3941;
transition: all 0.3s ease-in-out;
}
.dropdown div:hover a{

  color: #ffffff;
  transition: all 0.3s ease-in-out;
  }
.dropdown div a {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #DA3941;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}


/* Updates */
.updatecards{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.updates{
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
  padding: 100px 50px;
  color: #263238;
}
.updates .heading{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}
.updatecard .content{
  padding: 15px 15px 40px 15px;
  background-color: #202020;

  
}
.updatecard .title{
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
 text-align: left;
 color: #ffffff;
}
.updatecard .date{
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
 text-align: left;
color: #FF4141;
}
.updatecard .subtitle{
  color: #ffffff;
}
.updatecard .updateimg{
width: 100%;
object-fit: cover;
}
.updatecard{
  border-radius: 10px;
  width: 24%;
  margin: 10px;
}
.updatecard .subtitle{
  font-family: 'Work Sans', sans-serif;
  font-size: 15.5px;
  font-weight: 400;
}


/* Work */

.Work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.workDiv{
  padding: 50px 80px;
}
.Work .title {
  color: #263238;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
}

.Work .subtitle {
  color: #424545;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
.Work .mainbox {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.mainbox .photo img {
  width: 400px;
  height: 350px;
  margin: 10px 50px;
}
.mainbox .content {
  display: flex;
  flex-direction: column;
  
}
.mainbox .content .header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;

}

.header .num {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  color: #00000021;
  position: absolute;
}

.header .title {
  margin-top: 20px;
 color: #263238;
  font-family: "Raleway", sans-serif;
  font-size: 33px;
  margin-left: 60px;
}

.mainbox .subtitle {
  margin-top: 20px;
  color: #263238;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  margin-left: 50px;
}

.infographics{
  display: flex;
  flex-direction: column;;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.infographics .infocontent{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  padding-bottom: 80px;

 
}
.infographics .grid img{
width: 100%;
object-fit: contain;
}
.TestimonialDiv .collon img{
  transition: all 0.3s ease-in-out;
}
.TestimonialDiv .collon img:hover{
  transform:translateX(0.4rem) translateY(-1rem);
  transition: all 0.3s ease-in-out;
}
.infographics .infocontent .title{
  color: #2E2E2E;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.infographics .infocontent .subtitle1{
  color: #4F4F4F;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}


/* Testimonial */
.TestimonialDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 100px 100px;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}
.TestimonialDiv .testemonialcontent{
  width: 50%;
padding-right: 80px;
}
.testemonialcontent .title{
  color: #2E2E2E;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 31px;
  font-weight: 600;
}
.testemonialcontent .subtitle2{
  color: #7E7E7E;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.infographics .infocontent .subtitle2{
  color: #7E7E7E;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
}


.TestimonialDiv .collon {
 width: 50%;
 display: flex;
 align-items: center;
 justify-content: center;

}

.Testimonial{
  display: flex;
  flex-direction: column;
padding:0px  15px;
margin-left: 30px;

}
.Testimonial .review{
  color: #7E7E7E;
  font-style: italic;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size:16px ;
  margin-top: 15px;
}
.Testimonial .details{
  display: flex;
  flex-direction: row;
  padding: 3px;

}
.Testimonial .details .person {
  display: flex;
  flex-direction: column;
justify-content: center;
margin-right:7px;

}
.Testimonial .details .content{
  display: flex;
  flex-direction: column;
justify-content: center;
}
.Testimonial .details .content .title{
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color:#313131 ;
  margin-bottom: 0px;
}
.Testimonial .details .content .subtitle{
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color:#626262 ;
  margin-bottom: 0px;
}

.infographics .infoContent{

  width: 80%;
}
.collon img{
  width: 200px;
  height: 150px;
}
.carousel{
  height: 200px;
  width: 100%;
}
.carousel-inner{
  padding: 0px 20px;
}

@media (max-width:1024px){
  .infographics .grid img{
    padding:30px ;
  }
  .Testimonial .review{
    font-size: 14px;
  }
  .mainbox{
    width: 100%;
     }
     .mainbox .photo{
      width: 45%;
     }
     .mainbox .content{
      width: 65%;
     }
     .mainbox .photo img{
      width: 100%;
      height: 100%;
      margin: 10px;
     }
  .header .title {
    line-height: 1;
    font-size: 25px;
    margin-left: 60px;
  }
  .header .num{
    font-size: 60px;

  }
}
@media (max-width:800px){
  .workDiv{
    margin: 20px;
  }
  .Work{
    margin-top: 250px;
    padding: 40px 40px;
  }
  .Work .title {
    font-size: 35px;
  }
 .mainbox{
width: 100%;
 }
 .mainbox .photo{
  width: 40%;
 }
 .mainbox .content{
  width: 60%;
 }
 .mainbox .photo img{
width: 100%;
object-fit: contain;
height: 100%;
margin: 0px;
margin: 10px;
 }
  .infographics{
    display:flex;
    margin-top: 40px;
  }
 
  .TestimonialDiv{
  flex-direction: row-reverse;
  padding: 0px;
  justify-content: space-between;

  }
  .TestimonialDiv .testemonialcontent{
    width: 80%;
    padding-right: 10px;
  }
  .TestimonialDiv .collon{
    width: 10%;
  
  }
  .TestimonialDiv .collon img{
    width: 100px;
    height: 100px;
    margin-left: 20px;
  }
  .header .num {
    font-size: 55px;
  }
  
  .header .title {
    margin-top: 10px;
    font-size: 25px;
    margin-left: 40px;
    line-height: 1;
  }
  .header .title p{
    margin-bottom: 5px;
  }
  
  .mainbox .subtitle {
    margin-top: 5px;
    font-size: 14px;
    margin-left: 40px;
  }
}

@media (max-width:600px){
  .workDiv{
    margin: 10px;
  }
  .Work{
    padding: 20px;

      margin-top: 100px;
      padding: 40px 40px;
   
  }
  .TestimonialDiv .collon{
    display: none;
  }
  .Work .mainbox{
    flex-direction: row-reverse;
    margin-top: 10px;
  }
  .mainbox .photo{
    width: 25%;
  }
  .TestimonialDiv .testemonialcontent{
    width: 100%;
  }
  .mainbox .content{
    width: 75%;
  }
  .header .title{
    font-size: 19px;
  }
  .header .num{
    font-size: 45px;
  }
 
  .TestimonialDiv .collon img{
    width: 50px;
    height: 50px;
  }
  .testemonialcontent .subtitle2{
    margin-bottom: 10px;
  }
  .TestimonialDiv{
    padding: 20px;
    margin-bottom: 40px;
  }
  .Testimonial .review{
    font-size: 12px;
  }
  .Testimonial .details .person img{
    width: 40px;
    height: 40px;
  }
  .Testimonial .details .content .title{
    font-size: 13px;
  }
  .Testimonial .details .content .subtitle{
    font-size: 12px;
  }
  .Testimonial{
    padding: 10px;
    margin-left: 5px;
  }
}
/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  background-color:#da3941 ;
  align-items: center;
  justify-content: center;
  padding: 70px;
}
.footerdetails {
  display: flex;
  flex-direction: row;
}


.footer .title{
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 30px;
  margin-bottom: 40px;
 font-weight: 600;

}

.footerdetails .title{
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 43px;
  font-weight: 600;
}

.footerdetails .subtitle{
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.footerdetails .card{
  width:400px;
  background-color:#da3941;
  border: none;
}
@media (max-width: 1024px) {
  .footer{
    padding: 20px;
  }
  .footerdetails .card{
    width: 220px;
    margin: 0px 30px;
  }
}
@media (max-width: 800px) {
  .footerdetails .card{
    width: 180px;
    margin: 0px 20px;
  }
}
@media (max-width: 630px) {
  .footer .title{
    margin-bottom: 15px;
  }
  .footer{
    padding: 20px;
  
  }

  .footerdetails{
    flex-direction: column;
  }
  .footerdetails .card{
    width: 100%;
    height: 100%;
    margin: 8px 10px;
  }
  .footerdetails .title{
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .footerdetails .subtitle{
    font-size: 12px;
  }
}







.maphome{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7% 5%;
}

.contact{
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.upperfooter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerlinks{
display: flex;
flex-direction: row;
}

.footerlinks .links{
  margin: 0px 20px;
}

.footerlinks .links ul{
  text-decoration: none;
  list-style: none;
  padding-left: 0rem;
  color: #DA3941;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.footerlinks .links ul li{
  margin-top: 10px;
}
.footerlinks .links ul li a{
  margin-top: 10px;
  text-decoration: none;
  color: #DA3941;
}
.footerlinks .links ul p{
 margin: 0rem;
 margin-top: 10px;
}

.linkheader{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
}

.upperfooter .logo img{
width: 150px;
margin: 0;


}

.upperfooter .description{
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  max-width: 70%;
}

.lowerfooter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lowerfooter .social{
  display: flex;
}
.lowerfooter .social img{
 margin-right:15px ;
 object-fit: contain;
}
.lowerfooter .address{
  display: flex;
  flex-direction: row;
}

.lowerfooter .address div{
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  margin-top: 20px;
}

.lowerfooter .address div img{
  display: flex;
  align-items: center;
width:20px;
}

.lowerfooter .address div a{
color: #7E7E7E;
text-decoration: none;
margin-left: 20px;
width: 250px;

}